:root{
    --bg:rgb(7, 45, 74);
    --off: #050505;
}

body{
    background-color: rgb(2, 7, 20);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    overflow: hidden;
}

.content{
    width: 95%;
    height: 95%;

    top:2.5%;
    left: 2.5%;

    display: grid;
    place-items: center;
    background-color: var(--bg);
    background-image: radial-gradient(
		ellipse,
		var(--bg) 0%,
		var(--off) 92%
	);
    animation: on 2s linear;
	transition: all 0.5s;
    border-radius: 15%;
    overflow: hidden;

    z-index: 5;
    position: relative;
}

/* Scanline moving top to bottom over the screen */
.scanline {
	width: 100%;
	height: 100px;
	z-index: 8;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(255, 255, 255, 0.301) 10%,
		rgba(0, 0, 0, 0.1) 100%
	);
	opacity: 0.1;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	animation: scanline 4s linear infinite;
}


@keyframes scanline {
	0% {
		bottom: 100%;
	}
	100% {
		bottom: -20%;
	}
}

#screen{
    width: auto;
    height: 95%;
    border-radius: 5%;
    position: absolute;
    z-index: 5;
}